.screen {
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
}

.delete-button {
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
    margin-left: 30%;
}

.delete-button:hover {
    cursor: pointer;
}